h1 {
  font-size: 40px;
  word-break: break-all;
  text-align: center;
}
body {
  background-color: #A81818;
  padding: 20px;
  font-family: 'Caveat', cursive;
}
p{
  text-align: center;
}
button{
  margin: 20px;
}
#button-container{
  display: flex;
  justify-content: center;
}
footer{
  text-align: center;
}